<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Pulsar 2 Sanity Test">
    <classes>
      <class name="GeneralTest.TestGeneraltab"/>
    </classes>
  </test> <!-- Pulsar 2 Sanity Test -->
</suite> <!-- Suite -->
